### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 

### Luke's Analysis
* Even though male players make up the vast majority of players, both genders and those who don't identify tend to spend close to the same total average amount. There isn't a large disparity between the sexes when it comes to average spending.
* Far and away, the most spending by age group is 20-24, followed at a distance by 15-19. The other age groups are far removed from either of these groups.
* If you want to be cool, buy an Oathbringer. EVerybody's doing it. Lisosia93 probably bought one...
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
player_count = purchase_data['SN'].nunique()
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
unique_items = purchase_data['Item ID'].nunique()
avg_price = (purchase_data['Price'].sum()/purchase_data['Price'].count()).round(2)
avg_price
tot_purchase = purchase_data['Item ID'].count()
tot_purchase
purchase_data.dropna()

tot_revenue = purchase_data['Price'].sum()
tot_revenue

purch_analysis = pd.DataFrame([{"Number of Unique Items": unique_items,
                                "Number of Purchases": tot_purchase,
                                "Average Price": avg_price,
                                "Total Revenue": tot_revenue}])

purch_analysis

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           3.05                  780                     183        2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
total_gender = purchase_data["Gender"].count()
male_total = purchase_data["Gender"].value_counts()['Male']
female_total = purchase_data["Gender"].value_counts()['Female']
other_total = total_gender - male_total - female_total

male_percent = (male_total / total_gender) * 100
female_percent = (female_total / total_gender) * 100
other_percent = (other_total / total_gender) * 100

gender_dem = pd.DataFrame({"":["Male", "Female", "Other/Non-Disclosed"],
                            "Percentage of Players":[male_percent, female_percent, other_percent],
                          "Total Count":[male_total, female_total, other_total]})
gender_dem["Percentage of Players"] = gender_dem["Percentage of Players"].map("{:.2f}%".format)
gender_dem = gender_dem.set_index('')
gender_dem

                    Percentage of Players  Total Count

Male                               83.59%          652
Female                             14.49%          113
Other/Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
male_purchase = purchase_data["Gender"].value_counts()['Male']
female_purchase = purchase_data["Gender"].value_counts()['Female']
other_purchase = total_gender - male_total - female_total

male_avg = purchase_data[purchase_data["Gender"] == 'Male']['Price'].mean()
female_avg = purchase_data[purchase_data["Gender"] =='Female']['Price'].mean()
other_avg = purchase_data[purchase_data["Gender"] =='Other / Non-Disclosed']['Price'].mean()

male_sum = purchase_data[purchase_data["Gender"] == 'Male']['Price'].sum()
female_sum = purchase_data[purchase_data["Gender"] =='Female']['Price'].sum()
other_sum = purchase_data[purchase_data["Gender"] =='Other / Non-Disclosed']['Price'].sum()

male_norm = male_sum/male_total
female_norm = female_sum/female_total
other_norm = other_sum/other_total

gender_dem = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                            "Purchase Count":[male_purchase, female_purchase, other_purchase],
                           "Average Purchase Price":[male_avg, female_avg, other_avg],
                           "Total Purchase Value":[male_norm, female_norm, other_norm],
                          "Normalized Totals": [male_norm,female_norm, other_norm]})
gender_dem["Average Purchase Price"] = gender_dem["Average Purchase Price"].map("${:.2f}".format)
gender_dem["Total Purchase Value"] = gender_dem["Total Purchase Value"].map("${:.2f}".format)
gender_dem["Normalized Totals"] = gender_dem["Normalized Totals"].map("${:.2f}".format)
gender_dem

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,$3.02,$3.02,$3.02
1,Female,113,$3.20,$3.20,$3.20
2,Other / Non-Disclosed,15,$3.35,$3.35,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bin_df = purchase_data.copy()
bin_df["Age Group"] = pd.cut(bin_df["Age"],age_bins, labels=group_names)
group_bin = bin_df.groupby(["Age Group"])

bin_count = group_bin["SN"].count()
count_tot = purchase_data["SN"].count()
percentage = (bin_count/count_tot)*100
percentage

age_percentage = pd.DataFrame({"Percentage of Players": percentage,
                               "Total Count":bin_count,})
age_percentage["Percentage of Players"] = age_percentage["Percentage of Players"].map("{:.2f}%".format)
age_percentage

          Percentage of Players  Total Count
Age Group
<10                       2.95%           23
10-14                     3.59%           28
15-19                    17.44%          136
20-24                    46.79%          365
25-29                    12.95%          101
30-34                     9.36%           73
35-39                     5.26%           41
40+                       1.67%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
age_bins = [0,10,15,20,25,30,35,40,200]
group_names = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']
bin_df = purchase_data.copy()
bin_df["Age Group"] = pd.cut(bin_df["Age"],age_bins, labels=group_names)
bin_column = pd.cut(bin_df["Age"], age_bins, labels = group_names)
group_bin = bin_df.groupby(["Age Group"])


bin_purch_count = group_bin["Age"].count()
bin_avg_price = group_bin["Price"].mean()
bin_avg_total = group_bin["Price"].sum()

bin_dup = purchase_data.drop_duplicates(subset="SN", keep="first")
bin_dup["Age Group"] = pd.cut(bin_df["Age"],age_bins, labels=group_names)
bin_dup = bin_dup.groupby(["Age Group"])


bin_norm = (bin_df["Price"].sum()/bin_dup["SN"].count())

age_purchase = pd.DataFrame({"Purchase Count":bin_purch_count,
                           "Average Purchase Price":bin_avg_price,
                           "Total Purchase Value":bin_avg_total,
                          "Normalized Totals": bin_norm})
age_purchase["Average Purchase Price"] = age_purchase["Average Purchase Price"].map("${:.2f}".format)
age_purchase["Total Purchase Value"] = age_purchase["Total Purchase Value"].map("${:.2f}".format)
age_purchase["Normalized Totals"] = age_purchase["Normalized Totals"].map("${:.2f}".format)
age_purchase = age_purchase[["Purchase Count","Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
age_purchase.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
Under 10,32,$3.40,$108.96,$99.16
10 - 14,54,$2.90,$156.60,$58.04
15 - 19,200,$3.11,$621.56,$15.87
20 - 24,325,$3.02,$981.64,$10.26
25 - 29,77,$2.88,$221.42,$40.34
30 - 34,52,$2.99,$155.71,$64.32
35 - 39,33,$3.40,$112.35,$91.53
Over 40,7,$3.08,$21.53,$339.97

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
groupSN=purchase_data.groupby(["SN"])
groupSNtotal=purchase_data.groupby(["SN"])['Price'].sum()
groupIDtotal=purchase_data.groupby(["SN"])['Price'].count()

groupSNavg= round(groupSNtotal/groupIDtotal,2)

top_spender=pd.DataFrame({"Purchase Count": groupIDtotal,
                          "Average Purchase Price":groupSNavg,
                          "Total Purchase Value":groupSNtotal})


top_spender= top_spender.sort_values("Total Purchase Value", ascending=False)
top_spender= top_spender[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spender["Average Purchase Price"] = top_spender["Average Purchase Price"].map("${:.2f}".format)
top_spender["Total Purchase Value"] = top_spender["Total Purchase Value"].map("${:.2f}".format)
top_spender.reset_index(inplace=True)
top_spender.round(2)
top_spender.head()

            SN  Purchase Count Average Purchase Price Total Purchase Value
0    Lisosia93               5                  $3.79               $18.96
1  Idastidru52               4                  $3.86               $15.45
2   Chamjask73               3                  $4.61               $13.83
3       Iral74               4                  $3.40               $13.62
4  Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
premergeone = purchase_data.groupby("Item Name").sum().reset_index()
premergetwo = purchase_data.groupby("Item ID").sum().reset_index()
premergethree = purchase_data.groupby("Item Name").count().reset_index()


mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")


mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(5)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})